*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.cardHighlight {
  min-height: 100%;
}


/* Home Banner */
.banner-bg{
/*  background-color: #808080;*/
  background:

    linear-gradient(
      rgba(0, 34, 65, 0.40),
      rgba(0, 34, 65, 0.40)
    ),
    url("./images/bg2.jpg");
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Register Banner */
.register-bg{
/*  background-color: #808080;*/
  background:

    linear-gradient(
      rgba(0, 34, 65, 0.20),
      rgba(0, 34, 65, 0.20)
    ),
    url("./images/bg3.jpg");
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Login Banner */
.login-bg{
/*  background-color: #808080;*/
  background:

    linear-gradient(
      rgba(0, 34, 65, 0.20),
      rgba(0, 34, 65, 0.20)
    ),
    url("./images/bg4.jpg");
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Home - Carousel */

.carousel-height{
  max-height: 50vh;
}

.carousel-text{
  text-shadow: 1px 1px 2px #000000;
/*  width: 20%;*/
  padding:2%;
/*  position: absolute;*/
  font-weight: bold;
/*  background-color: rgba(0, 0, 0, 0.5);*/
}

.img-fit{
  object-fit: cover;
  min-height: 720px;
  width: 100%;
  
}


/* Home - Highlights */

.img-card{
  margin-bottom: 20px;
  object-fit: cover;
/*  min-height: 720px;*/
  width: 100%;
  
}


